@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,500');

@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC');


body{
    margin: auto;
    padding: 0;
}


p,a, button, input {
    font-family: Roboto;
}

.leftSide {
    margin-left: 60px;
    height: 100%;
    width: 300px;
    float: left;
}

.filterDiv{ 
    margin-top: 50px;
    height: 350px;  
}

.ui-fix{
    margin-left: 0 !important;
}

.mainTitle {
    font-size: 28px;
    font-weight: 400;
    margin-top: 150px;
    margin-bottom: 10px;
    font-weight:400;
    color: #515151 ;
}

input{
    border: none;
    border-bottom: 1px lightgrey solid;
    color:#3498DB;
    margin-bottom: 50px;
}

input::placeholder {
  color: lightgrey;
  font-weight: 100;
}

input:focus{
  outline: none;
}

#mySearch {
    font-size: 26px;

}
.subTitle {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 600;
}

.suppText {
    font-size: 12px;
}

.button {
    background-color: #efefef; 
    border: none;
    color: dimgray;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 15px;
    z-index: 1;
    float: right;
    margin-top: 50px;
    margin-left:800px;
    position: absolute;
}

.button:hover{
    background-color: #3498DB; 
    border: none;
    color: white;
    
}



.rightSide {
    height: 100%;
    width: 950px;
    float: right;
    margin-left: 20px;
    display: inline-block;
    position: absolute;
}


 /* Card Style */


#animate{
    display: inline;
}

#results {
    width: 600px;;
    height: 220px;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    margin-left: 110px;
    background-color: #efefef;
}


.card {
    display: inline-block !important;
    width: 140px;
    height: 97%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: none;
    overflow: hidden;
    z-index: 2;
    align-content: center;
    border: none ;
}

.card:hover{
    cursor: pointer;
    border: 2px solid dimgrey;
}

.card div{
    overflow: hidden;
    white-space: normal;
}


.photo {
    height:50;
}


#rest_info{
    width:100 !important;
    overflow: hidden !important;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#rest_photo img{
    width:80%;
    margin-top: 10px;
    border-radius: 150px;
}

#rest_name{
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
    overflow: hidden !important;
    text-decoration: none;

}

#rest_cat {
    color: black;
    margin-top:5px;
    font-size: 10px;
    margin-bottom: 5px;
    text-decoration: none;

}

#rest_website {
    color: grey;
    font-size: 10px;
}



.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  overflow: hidden;
    margin-top: 50px;
}

.switch-title {
    margin-top: 30px;
    margin-bottom: 6px;
    color:#515151;
    font-size:14px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #3498DB;
    color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.submitButton {
    margin-top: 20px;
    background-color: #3498DB;
    color: white;
    border-radius: 10px;
    height: 45px;
    width: 245px;
    font-size: 12px;
}

.submitButton:hover {
    cursor: pointer;
    background-color: #2a7fb7
    
}

#neighborhood_filter{
    margin-top: 20px;
    width: 245px;
}

