@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,500');

@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC');


body{
    margin: auto;
    padding: 0;
}


p,a, button, input {
    font-family: Roboto;
}

.leftSide {
    height: 100%;
    width: 400px;
    float: left;
}

.leftSide div{
    margin-left: 100px;
}

.filterDiv{ 
    margin-top: 50px;
    height: 350px; 
}

.ui-fix{
    margin-left: 0 !important;
}

.mainTitle {
    font-size: 28px;
    font-weight: 400;
    margin-top: 150px;
    font-weight:100;
    color: #515151 ;
}

input{
    border: none;
    border-bottom: 1px lightgrey solid;
    font-size: 26px;
    margin-top: 10px;
    color:#3498DB;
}

input::placeholder {
  color: lightgrey;
  font-weight: 400;
}

input:focus{
  outline: none;
}

.subTitle {
    font-size: 12px;
    font-weight: 600;
}

.suppText {
    font-size: 12px;
}

.button {
    background-color: #3498DB; 
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
}


.rightSide {
    height: 100%;
    width: 800px;
    float: right;
    margin-left: 50px;
    display: inline-block;
    position: absolute;
}


 /* Card Style */

#results {
    display: inline-block;
}
#animate{
    display: inline;;
}

.card {
    width: 99%;
    height: 100px;
    overflow: hidden;
    background-color: none;
    margin-bottom: 10px;
    z-index: 2;
}

.card:hover{
    cursor: pointer;
}

.photo {
    height:100%;
}

#rest_photo{
    width: 100px;
    height:100%;
    margin-left: 5px;
    float:left;
    overflow: hidden;
    border-radius: 100px;
    border-color: #bababa
}

#rest_info{
    width:60%;
    height: 100%;
    float:left;
    margin-top: 10px;
    margin-left: 20px;
}


#rest_stars,#rest_dollars, #rest_url {
    display:inline;
}

#rest_name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
}

#rest_cat {
    margin-top:5px;
    font-size: 14px;
}

#rest_stars{
    color:grey;
    font-size: 14px;
}

#rest_dollars {
    color:green;
    font-size: 14px;
}

#rest_website {
    color: grey;
    text-decoration: none;
    font-size: 14px;
}

